.nested-fields
  .row
    .col-md-3
      = f.label t(".cep"), class: "mb-2"
      = f.input :cep, label: false
    .col-md-3
      = f.label t(".street"), class: "mb-2"
      = f.input :street, label: false
    .col-md-3
      = f.label t(".city"), class: "mb-2"
      = f.input :city, label: false
    .col-md-3
      = f.label t(".uf"), class: "mb-2"
      = f.input :uf, label: false
      
  .row
    .col-md-4
      = f.label t(".complement"), class: "mb-2"
      = f.input :complement, label: false
    .col-md-4
      = f.label t(".district"), class: "mb-2"
      = f.input :district, label: false
    .col-md-4
      = f.label t(".ibge_code"), class: "mb-2"
      = f.input :ibge_code, label: false


