.nested-fields
  .row
    .col-md-3
      = f.input :cep
    .col-md-3
      = f.input :street
    .col-md-3
      = f.input :city
    .col-md-3
      = f.input :uf
  .row
    .col-md-4
      = f.input :complement
    .col-md-4
      = f.input :district
    .col-md-4
      = f.input :ibge_code


