= stylesheet_link_tag("views/citizens/show")

.container-lg.citizen-info.my-5
  .row.my-5
    .col-12
      %h1= @citizen.full_name

  .row.mb-5
    .col-xs-12
      = image_tag @citizen.avatar.profile.url, class: "profile-image" if @citizen.avatar.profile.url

  %hr

  .row.my-5
    .col-md-6
      .row
        .col-12
          = Citizen.human_attribute_name(:birthdate)
      .row
        .col-12
          = @citizen.birthdate
      
    .col-md-6
      .row
        .col-12
          = Citizen.human_attribute_name(:cpf)
      .row
        .col-12
          = @citizen.cpf
  %hr

  .row.my-5
    .col-md-6
      .row
        .col-12
          = Citizen.human_attribute_name(:cns)
      .row
        .col-12
          = @citizen.cns
    .col-md-6
      .row
        .col-12
          = Citizen.human_attribute_name(:phone_number)
      .row
        .col-12
          = @citizen.phone_number

  %hr

  .row.my-5
    .col-md-6
      .row
        .col-12
          = Citizen.human_attribute_name("status")
      .row
        .col-12
          = Citizen.human_attribute_name("status.#{@citizen.status}")
    .col-md-6
      .row
        .col-12
          = Citizen.human_attribute_name(:email)
      .row
        .col-12
          = @citizen.email
  
  %hr

  .d-flex.flex-row.justify-content-start.my-5
    = link_to citizens_path, class: "text-decoration-none mx-2" do
      %button.btn.btn-outline-primary.d-flex.align-items-center
        = icon("fa-solid", "backward-step", class: "fa-xl me-3")
        #text.fs-4 Voltar

    = link_to edit_citizen_path(@citizen), class: "text-decoration-none mx-2" do
      %button.btn.btn-warning.d-flex.align-items-center
        = icon("fa-solid", "pen-to-square", class: "fa-xl me-3")
        #text.fs-4 Editar

    = link_to @citizen, class: "text-decoration-none mx-2 ms-auto", method: :delete, data: { confirm: 'Are you sure?' } do
      %button.btn.btn-outline-danger.d-flex.align-items-center
        = icon("fa-solid", "trash", class: "fa-xl me-3 text-danger")
        #text.fs-4 Deletar
      
